@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #81817f;
  font-family: 'Josefin Sans', sans-serif;
}
.navbar{
    width: 85%;
    margin:auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo{
    width:250px;
    cursor:pointer;

}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;

}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 4px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
}
.navbar ul li:hover::after{
    width: 100%;
}
.wrapper{
  margin-top: 50px;
}

.wrapper h1{
  font-family: 'Allura', ;
  font-size: 52px;
  margin-bottom: 90px;
  text-align: center;
}

.team{
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
}

.team .team_member{
  background: #d5d3d3;
  margin: 5px;
  margin-bottom: 50px;
  width: 400px;
  padding: 20px;
  line-height: 30px;
  color: #343333;  
  position: relative;
}

.team .team_member h3{
  color: #434442;
  font-size: 26px;
  margin-top: 50px;
}

.team .team_member p.role{
  color: #343333;
  margin: 12px 0;
  font-size: 12px;
  text-transform: uppercase;
}

.team .team_member .team_img{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 10%;
  background: #9e9a9a;
}

.team .team_member .team_img img{
  width: 100px;
  height: 100px;
  padding: 5px;
}
